body {
  background-image: url("../Images/upfeathers.png");

}

.tborder {
  background-color: #FF6600;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  border-bottom-right-radius:20px;
  border-bottom-left-radius:20px;
  box-shadow: 7px 7px 5px #888888;
  border: solid #000000 2px;
}

.tbox {
  background-image: url("../Images/grey.png");
  text-align: center;
  margin-left: 8%;
  margin-right: 8%;
  height: 98%;
  border-radius: 20px;
  border: solid #000000 2px;

}

.title {
  background-color: #7A0000;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
  height: 5%;
  border-radius: 20px;
  color: white;
  padding: 3px;
  box-shadow: 7px 7px 5px #888888;

}

.nav {

  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #7A0000;
  box-shadow: 7px 7px 5px #888888;
  height:8%;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  border: solid #000000;
  padding: 10px;

}

.bar {

  width: 20%;
  height: 3%;
  right: 0px;
  position: absolute;
  margin-top: 5%;
  background-color: #333333;
  border-radius: 20px;
  color: white;
  text-align: center;
  border: solid #000000;
  font-size: 20px;
  padding: 2px;

}

.tleft {
  text-align: left;
  color: white;
  position: left;
  padding: 3px;


}

.tright {

  text-align: top-right;
  color: white;
  position: absolute;
  right: 0px;
  top: 0px;

}

.tcenter {

  text-align: center;
  color: white;
  position: center;

}

.nav2 {

  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #333333;
  box-shadow: 7px 7px 5px #888888;
  height:20%;
  border: solid #000000;
  padding: 10px;

}

.myButton {
  -moz-box-shadow: 0px 1px 0px 0px #1c1b18;
  -webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
  box-shadow: 0px 1px 0px 0px #1c1b18;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
  background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6',GradientType=0);
  background-color:#eae0c2;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
  border:2px solid #333029;
  display:inline-block;
  cursor:pointer;
  color:#505739;
  font-family:arial;
  font-size:14px;
  font-weight:bold;
  padding:12px 16px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
  background:-moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background:-webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background:-o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background:-ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2',GradientType=0);
  background-color:#ccc2a6;
}
.myButton:active {
  position:relative;
  top:1px;
}
