<html>

<head>

  <title>
    Computer Repair
  </title>
  <link rel="shortcut icon" href="../Images/computer.png">
  <link rel="stylesheet" type="text/css" href="../Css/index.css">

</head>

<body>

  <p>

    <div class="nav2">

      <div class="tright">
        <img width=200px height="200px" src= "../Images/computer2.png">
      </div>

      <div class="tleft">
        <h1>Petersburg Computer Repair</h1>
      </div>
      <div class="tleft">
      <h2>
     <a href="Index.html"><div class="myButton">Home</div></a>

     <a href="#"><div class="myButton">Contact Us</div></a>

     <a href="#"><div class="myButton">Facebook</div></a>

     <a href="#"><div class="myButton">Customer Reviews</div></a>

    </h2>
  </div>
    </div>

      <div class="bar">
        317-373-6711
      </div>

      <div class="tborder">
        <div class="tbox">
          <br>
          <br>

        </div>
      </div>
  </p>

</body>
